Source: libapache2-controller-perl
Section: perl
Priority: optional
Maintainer: Mark Hedges <hedges@formdata.biz>
Uploaders: Mark Hedges <hedges@formdata.biz>
Build-Depends: debhelper (>= 9.20120312),
 quilt,
 perl,
 apache2-dev,
 apache2-bin,
 libmodule-build-perl,
 libapache-session-perl,
 libapache2-mod-perl2 (>= 1.12),
 libapache2-request-perl,
 libdatetime-perl,
 libdbd-sqlite3-perl,
 libdbi-perl,
 libexception-class-perl,
 libhttp-cookies-perl,
 libhttp-message-perl,
 libhttp-server-simple-perl,
 liblist-moreutils-perl,
 liblog-dispatch-perl,
 liblog-log4perl-perl,
 liblwpx-paranoidagent-perl,
 libmath-bigint-gmp-perl,
 libnet-openid-consumer-perl,
 libnet-openid-server-perl,
 libreadonly-perl,
 libtemplate-perl,
 libtest-pod-coverage-perl,
 libtest-pod-perl,
 liburi-perl,
 libwww-perl,
 libyaml-syck-perl
Standards-Version: 3.9.5
Homepage: https://metacpan.org/release/Apache2-Controller
Vcs-Browser: https://github.com/a2c-perl/libapache2-controller-perl
Vcs-Git: git://github.com/a2c-perl/libapache2-controller-perl.git

Package: libapache2-controller-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libapache-session-perl,
 libapache2-mod-perl2,
 libapache2-request-perl,
 libdatetime-perl,
 libdigest-sha-perl,
 libexception-class-perl,
 libhttp-message-perl,
 libfile-spec-perl,
 liblist-moreutils-perl,
 liblog-dispatch-perl,
 liblog-log4perl-perl,
 libnet-openid-consumer-perl,
 libreadonly-perl,
 libtemplate-perl,
 liburi-perl,
 libyaml-syck-perl,
 libnet-oauth2-perl
Description: fast MVC-style Apache2 mod_perl2 handler app framework
 Apache2::Controller organizes subclassed Apache2::Request handler objects in
 an MVC module structure. A YAML file maps url paths to modules. $self is $r,
 the subclassed XS APR bindings with libapreq methods to load query string,
 etc. Stream with $r->print or use a parallel web tree of Template::Toolkit
 files. Hook in any model class like DBIx::Class or direct SQL or sockets,
 connections cached across requests. Session cookie plugin. Other great stuff.
 .
